*{
    margin:0;
    padding: 0;
    font-family:'Poppins';
    box-sizing: border-box;   
}


body{
    background: rgb(173,59,111);
    background: linear-gradient(90deg, rgba(173,59,111,1) 0%, rgba(41,17,67,1) 80%, rgba(34,14,67,1) 100%);
    color: white;
}



html{
    scroll-behavior: smooth;
}


#header{
    width:100%;
    color:white;
    padding: 10px;
}


.container{
    padding:10px 100px;

}


.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}



nav ul li{
    display:inline-block;
    list-style: none;
    margin-right: 20px;
}


nav ul li a {
    text-decoration: none;
    color:whitesmoke;
    font-weight: bold;
    font-size: 20px;
    position:relative;
}



nav ul li :after{
    position:absolute;
    content:'';
    width:0;
    height:3px;
    background:purple;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}


nav ul li :hover::after{
    width:100%;
}



.text h1{
    color:white;
    font-size: 40px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text p{
    font-size: 15px;
    color: whitesmoke;
}

.get_cv{
    background-color: #ff004f;
    width:80px;
    height: 30px;
    text-align: center;
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.get_cv h4{
    color:beige;
    font-size: 15px;

}



/* about */

#about{
    padding:50px 0;
    background-image: url("./images/model.png");
    background-position: left;
    background-size: cover;
   
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1{
    flex-basis: 40%; /*width of the col*/  
    display: flex;
    align-items: center;
    justify-content: center;  
}


.about-col1 img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.about-col2{
    margin-left: 60px;
    flex-basis: 50%;
}



.sub-title{
    font-size: 40px;
    font-weight: 600;
    color:white;
    margin-bottom: 30px;
}

.about-col2 p{
    font-family:cursive;
    font-weight: 1;
    line-height: 25px;
    
}

.tab-titles{
    display: flex;
    margin:20px 0 40px;
}



.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    
}


.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:red;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}




.tab-links.active-link::after{
    width:50%;
}


.tab-contents ul li{
    list-style: none;
    margin:10px 0;
    font-family: cursive;
}

.tab-contents ul li span{
    color:crimson;
    font-size:22px;
    font-weight: 200;
    font-family: cursive;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/* portfolio */

.arrow {
    color: black;
    font-size: 2rem;
    margin: 0 10px;
    text-decoration: none;
}


#portfolio{
    padding:40px 0;
    
}

.layer{
    margin-top:30px;
}

.layer h4{
    color:silver;
    font-size: 22px;
}



.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:40px;
  margin-top: 30px;
}

.work{
    border-radius:10px;
}


.work-img{
    width:300px;
    height:200px;
    border-radius: 10px;
    
}

.work-heading{
    padding-top:10px;
}


.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border:1px solid crimson;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:white;
}

.btn:hover{
    background:crimson;
}


/* contact */

#contact{
    padding:40px 0px;
    
}

.contact-section{
    display: flex;
    flex-direction: column;
}


.contact-det{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}


.contact-det p i{
    margin-left: 20px;
    font-size: 25px;
    margin-right: 6px;
}


.contact-det a{
    text-decoration: none;
    font-size: 25px;
    color:white;
    transition: transform 0.5s;
    margin-left: 30px;
}

.contact-det a:hover{
    color:crimson;
    transform: translateY(-5px);
}

.contact-det p i:hover{
    color:crimson;
    transform: translateY(-5px);
}


nav .fa{
    display: none;
}


#backToTopBtn{
    background-color: #ff004f63;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: none;
    border-radius: 40%;
    width: 50px;
    height: 50px;
}

#backToTopBtn .fa{
    font-size: 30px;
    color:black;
}

#backToTopBtn:hover {
    background-color: crimson;
}

#backToTopBtn .fa:hover{
    color: white;
}


.note p{
    font-size: 15px;
    font-family:sans-serif
}




/* css for small screens */

@media only screen and (max-width:900px){


    body{
        color: white;
    }
  
    .container{
        padding: 40px;
    }
    .text h1{
        color:white;
        font-size:35px;
    }
    
    .text p{
        font-size: 15px;
    }

    .about-col1{
        

        flex-basis: 100%;   /*width of the col*/
        
        
    }
    
    .about-col1 img{
        width: 300px;
        height: 300px;
        border-radius:10px;
    }
    
    
    .about-col2{
        background-color: rgba(0, 0, 0, 0.563);
        width:100%;
        height: 100%;
        margin-top: 10px;
        flex-basis: 100%;
        padding: 20px;
        border-radius: 10px;
    }


    .sub-title{
        font-size: 30px;
    }

    #contact{
        padding: 0;
    }

    
.contact-form form{
    width: 100%;
}

.contact-form , .contact-details{
    flex-basis: 100%;
}
.contact-details p i{
    width: 100%;
    color: crimson;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
}





.social-icons a:hover{
    color:darkblue;
    transform: translateY(-5px);
}
    
#header{
    padding:0;
}

#resume{
    padding:0;

}

#about{
    padding: 0;
}

.work-list{
    overflow: hidden;

}


.work-img{
    width:100%;
    height:200px;
    border-radius: 10px;
    
}

nav .fa{
    display: block;
}

nav ul{
    background:purple;
    position: fixed;
    top:0;
    right:-200px;
    width:200px;
    height: 300px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}

nav ul li{
    display:block;
    margin: 25px;
}

nav ul li a{
    color:white;
}

nav ul .fa{
    position: absolute;
    top:25px;
    left:25px;
    cursor: pointer;
}


.text1{
    padding-top:10px;
    padding-left: 10px;
}



.text1 span{
    font-size: 30px;
    font-weight:bold;
    color:white;
    text-align: justify;
}




.text1 p{
    color:white;
    font-size: 10px;
    font-weight: 100;
    
}



}